<mat-card>
    <mat-card-header>
        <mat-card-title>
            <span *ngIf="course?.id; else elseBlock">

            </span>
            <ng-template #elseBlock>Select course</ng-template>
        </mat-card-title>
    </mat-card-header>

    <!-- COURSE FORM -->
    <form #form="ngForm" (submit)="saved.emit(course)">
        <mat-card-content>
            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Title" name="title" [(ngModel)]="course.title" required>
            </mat-form-field>

            <mat-form-field class="full-width">
                <textarea matInput type="text" placeholder="Description" name="description"
                    [(ngModel)]="course.description"></textarea>
            </mat-form-field>
            <section class="full-width">
                <h4>{{course.percentComplete}}% complete</h4>
                <mat-slider class="full-width" min="0" max="100" thumbLabel [(ngModel)]="course.percentComplete"
                    name="percentComplete"></mat-slider>
            </section>
            <section>
                <mat-checkbox [(ngModel)]="course.favorite" name="favorite">Is favorite</mat-checkbox>
            </section>

        </mat-card-content>
        <mat-card-actions>
            <button type="submit" mat-button color="primary" [disabled]="form.invalid">Save</button>
            <button mat-button type="button" (click)="cancelled.emit()">Cancel</button>
        </mat-card-actions>
    </form>
    <hr>
    <pre>{{form.value | json}}</pre>
    <pre>{{form.valid | json}}</pre>
</mat-card>
